[submodule "cub3D"]
	path = cub3D
	url = https://github.com/sprint42/cub3D
[submodule "minishell"]
	path = minishell
	url = https://github.com/sprint42/minishell
[submodule "ft_irc"]
	path = ft_irc
	url = https://github.com/CacaoTalk/ft_irc
